
/*common left margin*/
.m-l-5px {
  margin-left: 5px;
}

.m-l-10px {
  margin-left: 10px;
}

.m-l-15px {
  margin-left: 15px;
}

.m-l-20px {
  margin-left: 20px;
}

.m-l-25px {
  margin-left: 25px;
}

.m-l-30px {
  margin-left: 30px;
}

/*common right margin*/
.m-r-5px {
  margin-right: 5px;
}

.m-r-10px {
  margin-right: 10px;
}

.m-r-15px {
  margin-right: 15px;
}

.m-r-20px {
  margin-right: 20px;
}

.m-r-25px {
  margin-right: 25px;
}

.m-r-30px {
  margin-right: 30px;
}


/*common top margin*/
.m-t-5px {
  margin-top: 5px;
}

.m-t-10px {
  margin-top: 10px;
}

.m-t-15px {
  margin-top: 15px;
}

.m-t-20px {
  margin-top: 20px;
}

.m-t-25px {
  margin-top: 25px;
}

.m-t-30px {
  margin-top: 30px;
}

/*common bottom margin*/
.m-b-5px {
  margin-bottom: 5px;
}

.m-b-10px {
  margin-bottom: 10px;
}

.m-b-15px {
  margin-bottom: 15px;
}

.m-b-20px {
  margin-bottom: 20px;
}

.m-b-25px {
  margin-bottom: 25px;
}

.m-b-30px {
  margin-bottom: 30px;
}


/*common left padding*/
.p-l-5px {
  padding-left: 5px;
}

.p-l-10px {
  padding-left: 10px;
}

.p-l-15px {
  padding-left: 15px;
}

.p-l-20px {
  padding-left: 20px;
}

.p-l-25px {
  padding-left: 25px;
}

.p-l-30px {
  padding-left: 30px;
}

/*common right padding*/
.p-r-5px {
  padding-right: 5px;
}

.p-r-10px {
  padding-right: 10px;
}

.p-r-15px {
  padding-right: 15px;
}

.p-r-20px {
  padding-right: 20px;
}

.p-r-25px {
  padding-right: 25px;
}

.p-r-30px {
  padding-right: 30px;
}

/*common top padding*/
.p-t-5px {
  padding-top: 5px;
}

.p-t-10px {
  padding-top: 10px;
}

.p-t-15px {
  padding-top: 15px;
}

.p-t-20px {
  padding-top: 20px;
}

.p-t-25px {
  padding-top: 25px;
}

.p-t-30px {
  padding-top: 30px;
}

/*common bottom padding*/
.p-b-5px {
  padding-bottom: 5px;
}

.p-b-10px {
  padding-bottom: 10px;
}

.p-b-15px {
  padding-bottom: 15px;
}

.p-b-20px {
  padding-bottom: 20px;
}

.p-b-25px {
  padding-bottom: 25px;
}

.p-b-30px {
  padding-bottom: 30px;
}


/*common margin in all side*/

.m-5px {
  margin: 5px;
}

.m-10px {
  margin: 10px;
}

.m-15px {
  margin: 15px;
}

.m-20px {
  margin: 20px;
}

.m-25px {
  margin: 25px;
}

.m-30px {
  margin: 30px;
}

/*common padding in all side*/

.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10px;
}

.p-15px {
  padding: 15px;
}

.p-20px {
  padding: 20px;
}

.p-25px {
  padding: 25px;
}

.p-30px {
  padding: 30px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}